.container{
    border: 3px solid black;
    width: 30%;
    margin: 0 auto;
    height: 80vh;
    background-color: black;    
    position: relative;
}
.num{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    gap: 32px;

}
.box{
    border: 2px solid black;
    height: 72px;
    width: 72px;
    display: grid;
    place-items: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    margin-left:10px ;
    background-color: white;
}
p{
    border: 3px solid black;
    margin: 10px ;
    padding: 10px;
    height: 20px;
    text-align: center;
    font-size: 22px;
    background-color: white;
}
.btn{
    background-color: black;
    color: white;
    border: 3px solid white;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}